.screen{
	display: flex;
	width: 305px;
	height: 306px;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-right:100px;
	margin-bottom:100px;
}

.panel{
	width: 50px;
	height: 50px;
	background:#cfcfcf;
	box-shadow:0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(195, 195, 195, 0.4);
}

.ok{
	background: linear-gradient(60deg, #66bb6a, #43a047);
		box-shadow:0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.faulty{
	background:linear-gradient(60deg, #ef5350, #e53935);
	box-shadow:0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}

.idle{
	background: linear-gradient(60deg, #26c6da, #00acc1);
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.warning{
	background: linear-gradient(60deg, #ffa726, #fb8c00);
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}